h1{
    background-color: blue;
}
body{
    margin: 0px;
}
h3{
    background-color: blueviolet;
    font-style: oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box{
    width: 250px;
    height: 90px;
    border: 5px solid;
    font-size: 5em;
    text-align: center;
    display: inline-block;
    transform: translatex(50%) scale(0).5;
    
}
#box1{
    background-color: green;
    transform: rotatez(-45deg);
}
#box2{
    background-color: rgb(233, 248, 25);
    
}
#box3{
    background-color: rgb(252, 19, 19);
    transform: rotatez(45deg);
}
